// =========================== Variables ===========================
$background-color: rgba(225, 247, 226, 1);
$accent-color: rgba(21, 77, 24, 1);

$button-color: rgba(23, 115, 28, 1);
$button-red: rgba(139, 0, 0, 1);
$button-unselected-color: rgba(230, 230, 230, 1);
$button-hover-color: rgba(210, 210, 210, 1);

$appbar-height: 50px;
$drawer-width-close: 60px;
$drawer-min-width-open: 200px;
$drawer-width-open: 15%;
$drawer-list-item-heihgt: 48px;

html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: $background-color;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0px 0px 0px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    font-family:Arial;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $accent-color;
}

form .Button {
    margin: 25px 0px 10px 0px;
}

form .Button.LoginButton:not(.Mui-disabled) {
    background-color: $button-color;
    color: white;
}

form .TextField {
    margin: 10px 0px 5px 0px;
}

form .TextField .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
    color: green;
}

form .TextField .MuiInput-underline:not(.Mui-error):after {
    border-bottom-color: $button-color;
}

.Panel {
    margin: 5% 5% 5% 5%;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $button-color;
}

.SelectionPanel {
    margin: 5% 5% 5% 5%;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    padding: 0%;
    border-radius: 10px;
    overflow: hidden;

    .Title {
        padding: 1% 1% 1% 2%;
        background-color: $accent-color;

        p {
            font-size: larger;
            margin: 0%;
            color: white;
        }
    }

    .content {
        padding: 40px 40px 40px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .options {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .SelectionButton {
                    margin: 1% 1% 1% 1%;
                    padding: 16px 16px 16px 16px; 
                }
        
                .OptionDevice {
                    width: 175px;
                    margin: 1% 1% 1% 1%;
                    padding: 10px 10px 10px 10px;
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
                    border-radius: 10px;
                    background-color: $button-unselected-color;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: start;
        
                    .OptionDeviceHeader {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
        
                        .DeviceName {
                            margin-top: 0px;
                            margin-bottom: 0px;
                            font-weight: bold;
                            font-size: 15px;
                        }
        
                        .DeviceType {
                            margin-bottom: 0px;
                            margin-top: 8px;
                            font-size: small;
                        }
                    }
        
                    .MuiIconButton-root {
                        padding: 5px 5px 5px 5px;
        
                        .NonFavoriteIcon {
                            fill: $accent-color;
                        }
        
                        .FavoriteIcon {
                            fill: $accent-color;
                        }
                    }
                }
        
                .OptionDevice:hover {
                    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
                    background-color: $button-hover-color;
                }
        
                .OptionSelected {
                    background-color: $accent-color;
                    color: white;
                }
            }

            p {
                margin: 0%
            }
        }

        .Buttons {
            .MuiIconButton-root{
                padding: 5px 5px 5px 5px;
    
                .AddBoxIcon {
                    fill: $accent-color;
                    width: 1.4em;
                    height: 1.4em;
                }
            }
        }

    }
}

.MainPage {

    .AppBar {
        background-color: $accent-color;
        color: white;
        height: $appbar-height;
        z-index: 2;

        .MuiToolbar-regular {
            min-height: 0;
            padding-left: 16px;
        }
    }

    .Drawer .MuiDrawer-paper {
        z-index: 1;
        visibility: visible !important;
        transform: translate(0px) !important;
        width: $drawer-width-close;
        overflow: hidden;

        .TopPart {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .Options {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            height: 100%;

            .OptionSelected {
                background-color: $accent-color;

                .MuiListItem-button {     
                    height: $drawer-list-item-heihgt;
                }

                .MuiListItemIcon-root {
                    color: white;
                }

                .MuiListItemText-root {
                    color: white;
                }
            }
        }
    }
    
    .AppContent {
        margin-top: $appbar-height;
        margin-left: $drawer-width-close;
        padding: 20px 20px 20px 20px;
    }
}

.MainPage.drawerOpen {

    .AppBar {
        z-index: 0;

        .MuiToolbar-regular {
            margin-left: calc(max(#{$drawer-min-width-open}, #{$drawer-width-open}));

            .MuiTypography-root {
                padding-top: 8px;
            }
        }
    }

    .Drawer .MuiDrawer-paper {
        min-width: $drawer-min-width-open;
        width: $drawer-width-open;

        .TopPart {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    .AppContent {
        margin-top: $appbar-height;
        margin-left: calc(max(#{$drawer-min-width-open}, #{$drawer-width-open}));
    }
}

.DeviceDialog {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    width: 500px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $accent-color;

    .DeviceHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 10px 10px;

        .DeviceName {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: large;
        }

        .DeviceType {
            margin-bottom: 0px;
            margin-top: 8px;
            font-size: small;
        }

        .MuiIconButton-root {
            padding: 5px 5px 5px 5px;

            .NonFavoriteIcon {
                fill: $accent-color;
            }

            .FavoriteIcon {
                fill: $accent-color;
            }
        }
    }

    .MuiDivider-root {
        margin: 5px 0px 10px 10px;
    }

    .AccordionTitle {
        margin: 0px 0px 0px 0px;

    }

    .MuiAccordionSummary-root.Mui-expanded {
        min-height: 30px;
        height: 30px;
        background-color: $accent-color;
        color: white;

        .MuiAccordionSummary-content {
            margin: 8px 0px;
        }

        .MuiSvgIcon-root {
            fill: white;
        }
    }
    
    .MuiAccordionSummary-root:not(.Mui-expanded) {
        height: 40px;
        background-color: $background-color;
    }

    .MuiAccordionDetails-root {
        background-color: $background-color;
        display: flex;
        flex-direction: column;

        .Property {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .PropertyHeader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                
                .PropertyName {
                    margin-right: 10px;
                    margin-bottom: 0px;
                    margin-top: 8px;
                    font-weight: bold;
                    font-size: 15px;
                }
                
                .PropertyType{
                    font-size: small;
                }

            }
            
            .PropertyValue {
                margin-bottom: 0px;
                margin-top: 8px;
                font-size: 15px;

                .PropertyValueInput{
                    width: 100px;
                }

                .PropertyValueInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                    color: green;
                }
                
                .PropertyValueInput .MuiInput-underline:not(.Mui-error):after {
                    border-bottom-color: $button-color;
                }
            }

            .PropertyValue.Scalar{
                display: flex;
                flex-direction: row;
            }
            
        }

        .Buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .Button.SaveButton:not(.Mui-disabled) {
                background-color: $accent-color;
                color: white;
            }
        }
    }

    .Graph {
        p {
            text-align: center;
            font-weight: bold;
            color: $accent-color;
        }

        .GraphContainer {
            margin-bottom: 25px;
        }

        .PropertySelection {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .ValueInput{
                min-width: 170px;
                width: auto;
            }

            .ValueInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                color: green;
            }
            
            .ValueInput .MuiInput-underline:not(.Mui-error):after {
                border-bottom-color: $button-color;
            }
        }
    }
}

.recharts-responsive-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 225px;
    max-height: 225px;
    min-height: 225px;
    background-color: $background-color;

    .recharts-legend-wrapper {
        bottom: -25px !important;
        left: 35px !important;
    }
}

.AddComponentDialog {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    width: 500px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $accent-color;

    .AddComponentHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px 10px 10px;

        .ComponentName {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: large;
        }
    }

    .AddComponentContent {

        .AddComponentParameter {
            width: 100%;
        }

        .AddComponentParameter .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
            color: green;
        }
        
        .AddComponentParameter .MuiInput-underline:not(.Mui-error):after {
            border-bottom-color: $button-color;
        }
    }

    .MuiDivider-root {
        margin-top: 20px;
    }

    .Buttons {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .Button.SaveButton:not(.Mui-disabled) {
            background-color: $accent-color;
            color: white;
        }
    }
}

.AddDeviceDialog {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    width: 500px;
    height: auto;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $accent-color;

    .AddDeviceHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px 10px 10px;

        .ComponentName {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: large;
        }
    }

    .AddDeviceContent {
        display: flex;
        flex-direction: column;

        .Line1 {
            width: 100%;
        }

        .Line2 {
            width: 48%;
        }

        .Line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
        }

        .AddDeviceInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
            color: green;
        }
        
        .AddDeviceInput .MuiInput-underline:not(.Mui-error):after {
            border-bottom-color: $button-color;
        }
    }

    .AddDeviceProperties {

        .AddDeviceProperty {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .PropertyHeader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                
                .PropertyName {
                    margin-right: 10px;
                    margin-bottom: 0px;
                    margin-top: 8px;
                    font-weight: bold;
                    font-size: 15px;
                }
                
                .PropertyType{
                    font-size: small;
                }

            }
            
            .PropertyValue {
                margin-bottom: 0px;
                margin-top: 8px;
                font-size: 15px;

                .PropertyValueInput{
                    width: 100px;
                }

                .PropertyValueInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                    color: green;
                }
                
                .PropertyValueInput .MuiInput-underline:not(.Mui-error):after {
                    border-bottom-color: $button-color;
                }
            }

            .PropertyValue.Scalar{
                display: flex;
                flex-direction: row;
            }
            
        }
    }

    .MuiDivider-root {
        margin-top: 20px;
    }

    .Buttons {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .Button.SaveButton:not(.Mui-disabled) {
            background-color: $accent-color;
            color: white;
        }
    }
}

.PreferenceDialog {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    width: 500px;
    height: auto;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    border-top: 5px solid $accent-color;

    .PreferenceHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 10px 10px 10px;

        .ComponentName {
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
            font-size: large;
        }
    }

    .PreferenceContent {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;

        .Line1 {
            width: 100%;
        }

        .Line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
        }

        .PreferenceInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
            color: green;
        }
        
        .PreferenceInput .MuiInput-underline:not(.Mui-error):after {
            border-bottom-color: $button-color;
        }
    }

    .PreferenceProperties {
        margin-top: 10px;
        margin-bottom: 5px;

        .Property {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .PropertyComponent {
                margin-bottom: 0px;
                margin-top: 8px;
                font-size: 15px;

                .PropertyInput{
                    width: 90%;
                }

                .PropertyInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                    color: green;
                }
                
                .PropertyInput .MuiInput-underline:not(.Mui-error):after {
                    border-bottom-color: $button-color;
                }
            }

            .PropertyValue.Scalar{
                display: flex;
                flex-direction: row;
            }
            
        }

        .ButtonsGroup {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .MuiIconButton-root {
            padding: 5px 5px 5px 5px;

            .Icon {
                fill: $accent-color;
            }
        }
    }

    .Schedules {
        margin-top: 15px;
        margin-bottom: 15px;

        .Schedule {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            .PreferenceInput {
                width: 100%;
            }
           
            .PreferenceInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                color: green;
            }
            
            .PreferenceInput .MuiInput-underline:not(.Mui-error):after {
                border-bottom-color: $button-color;
            }

            .MuiFormControl-root {
                width: 100%;

                .MuiFormLabel-root {
                    width: 90%;
                }
    
                .MuiInputBase-root {
                    width: 90%;
                }
            }

        }

        .ButtonsGroup {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        .MuiIconButton-root {
            padding: 5px 5px 5px 5px;

            .Icon {
                fill: $accent-color;
            }
        }
    }

    .MuiDivider-root {
        margin: 0px;
    }

    .Buttons {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .Button:not(.Mui-disabled) {
            color: white;
        }

        .Button.AcceptButton {
            background-color: $button-color;
        }
        
        .Button.RejectButton {
            background-color: $button-red;
        }

        .Button.ApplyButton {
            width: 99%;
            background-color: $accent-color;
        }
    }
}

.SettingsPanel {
    margin: 5% 5% 5% 5%;
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    padding: 0%;
    border-radius: 10px;
    overflow: hidden;

    .Title {
        padding: 1% 1% 1% 2%;
        background-color: $accent-color;

        p {
            font-size: larger;
            margin: 0%;
            color: white;
        }
    }

    .content {
        padding: 40px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        .Info {
            display: flex;
            flex-direction: row;
            justify-content: left;
            width: 100%;
            margin-bottom: 5%;

            .MuiAvatar-root {
                width: 10vw;
                height: 10vw;
            }

            .MainInfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 5%;
                width: 100%;

                .ValueInput {
                    width: 100%;
                }

                .ValueInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                    color: green;
                }
                
                .ValueInput .MuiInput-underline:not(.Mui-error):after {
                    border-bottom-color: $button-color;
                }
            }
        }

        .AddUserToHouse {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .AddUserToHouseForm {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 3%;

                .ValueInput {
                    width: 49%;
                }

                .ValueInput .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
                    color: green;
                }
                
                .ValueInput .MuiInput-underline:not(.Mui-error):after {
                    border-bottom-color: $button-color;
                }
            }

            .Button {
                width: 100%;
            }

            .Button.AddUserButton:not(.Mui-disabled) {
                background-color: $button-color;
                color: white;
            }
        }

        .Buttons {

            .Button {
                width: 100%;
            }

            .Button.LogoutButton:not(.Mui-disabled) {
                background-color: $button-color;
                color: white;
            }
        }

        .MuiDivider-root {
            margin: 3% 0%;
        }

    }
}

.MuiTypography-colorPrimary.Link {
    color: $accent-color;
}

.MuiDivider-root {
    background-color: $accent-color !important;
    height: 2px !important;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}